# Invoice data with SE-DDMMYY number and due date +10 days
Fullname = "Bob Sanders"
MyAddress = """Lorem ipsum amet, 221, 42 
Aenean ligula, 129104 City, Country."""

MyEmail = "hello@8am.dev"
TaxId = "400424221"
InvoiceTo = "World JSC"
CompanyAddress = """
c/o Alice Henderson
Nam quam nunc, blandit vel 11
Sed fringilla mauris, 68
409118, Middle-earth"""

ServiceDescription = "Backend development services for the period of {xx.xx.xxxx} to {yy.yy.yyyy}"
Price = 1500
Currency = "USD"
Quantity = 3
VAT = 6
PaymentDetails = "Please transfer the due amount according to the following payment details."
BeneficiaryName = "IE Bob Sanders"
BeneficiaryAddress = "FARFROMPOOPEN ROAD TURN 5, CITY, COUNTRY"
BankName = "Bank of the Middle-earth"
BankAddress = "42c GAGARIN STREET, Mars 0160, Middle-earth"
IBAN = "XXXXLX11100003168990YY"
SwiftBIC = "XXXXXX11"
